.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15rem;
}

.searchBar {
    display: flex;
    justify-content: center;
    width: 50%;
}

.filters {
    display: flex;
    justify-content: center;
    width: 50%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 70%;
}

.paginatedd {
    position: absolute;
    right: 5rem;
    height: 50px;
    /* justify-content: flex-end; */
}

