.searchBar {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5%;
    border: 0;
}

.input {
    height: 3.5em;
    width: 20em;
    padding-left: 1%;
    border: 0;
    border-bottom: 3px solid rgb(190, 82, 82);
    transition: border-bottom 2s;
    outline: 0;
    opacity: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.btn {
    height: 3.8em;
    border: 0;
    border-bottom: 3px solid rgb(190, 82, 82);
    padding-right: 1%;
    transition: border-bottom 2s;
    outline: 0;
    opacity: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.input:focus {
    border-bottom: 3px solid #40af65;
}
.btn:focus {
    border-bottom: 3px solid #2CC260;
}

.input::placeholder {
       color: rgba(69, 70, 69, 0.918)

}